
.refer_section{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 3px;
    border-radius: 6px;
}
.refer_form_section{
    width: 350px;
    border-radius: 25px;
    padding: 15px;
}
.refer_section label{
    font-size: 15px;
    color: white;
}
.refer_btn{
color: black;
background-color: white;
padding: 4px;
font-size: 15px;
transition: .3s;
}
.refer_btn:hover{
    background-color: black;
    color: white;
    transition: .2s;
}
.refer_form_section input{
    border-radius: 4px;
    font-size: 15px;
    width: 100%;
    padding: 4px;
}
.refer_section span{
    color: red;
    font-size: 18px;
}
@media  screen and (max-width: 768px) {
.refer_form_section{
    width: 100vw;
}
.refer_form_section input{
    width: 450px;
}
.refer_btn{
    width: 440px;
}
}
@media screen and (max-width: 480px) {
.refer_form_section input{
    width: 300px;
}
.refer_btn{
    width: 300px;
}
}
