.bg_banner{
    background-image: url("../../assets/bg_banner/bg_banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: #fff;
    width: 100%;
}
.bg_banner h1 {
    font-size: 50px;
}