.bg_banner{
    background-image: url("../../assets/bg_banner/bg_banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: #fff;
    width: 100%;
    margin-top: 50px;
}
.bg_banner .heading {
    font-size: 40px;
    font-weight: 500;

}
@media screen and (max-width:991px) {
    .bg_banner .heading {
        font-size: 33px;
    }
    .bg_banner{
        margin-top: 47px;
    }
}
@media screen and (max-width:991px) {
    .bg_banner{
        height: 150px;
    }
    .bg_banner .heading {
        font-size: 25px;
    }
}