form{
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-out allow-discrete;
}

.form_div{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
}
.eye_icon{
    position: absolute;
    top: 46px;
    left:93%;
    font-size: 21px;
    color: black;
    cursor: pointer;
}
label {
    font-size: 18px;
    margin-bottom: 10px;
} 
.form_div input{
    width: 100%;
    outline: none;
    border: none;
    border: 1px solid #e1e1e1;
    padding: 10px;
    border-radius: 10px;
    background-color: #F3F3FF;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-bottom: 10px;
}
.error{
    color: red;
    font-size: 16px;
    font-weight: 500;
}
.btn_new{
    border-radius: 10px;
    padding:5px!important ;
    margin-top: 15px;
    font-size: 20px;
    background-color: #FF4D25;
    border: none;
    color: white;
    cursor: pointer;
}
.btn_new:hover{
    background-color: #ac381f;
}
span{
    color: red;
}

.eye_inner{
position: relative;
}

@media screen and (max-width:650px){
    .eye_icon{
    left: 90%;
    font-size: 18px;
    }
.btn_new{
font-size: 18px;
padding: 5px;
}
label{
    font-size: 17px;
}
.form_div input{
    font-size: 10px;
}
}