.sidebar {
    width: 17%;
    min-height: 100vh;
    border-right: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size:14px;
}

.sidebar-options {
    padding-top: 20px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    padding: 8px 10px;
    border-right: 0;
    border-radius: 3px 0 0 3px;
}
.reserve-table{
    font-size: 28px;
    font-weight: 999;
}
.sidebar-option.active{
    background-color: #fff0ed;
    border-color: tomato;
}
@media (max-width:900px) {
    .sidebar-options p {
        display: none;
    }
    .reserve-table{
        font-size: 25px;
    }

}
@media (max-width:490px) {
    .sidebar-option  img{
        width: 20px;
    }
    .reserve-table{
        width: 24px;
    }
}