.Menu_Main_Section{
    padding: 0px 10px;
    padding-bottom: 40px;
    background-color: #f5edda;
}
.Menu_Below_Section h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
}
@media screen and (max-width:786px) {
    .Menu_Below_Section h2{
        font-size: 26px;
    }
}
@media screen and (max-width:490px) {
    .Menu_Below_Section h2{
        font-size: 22px;
    }
}
@media screen and (max-width:360px) {
    .Menu_Below_Section h2{
        font-size: 19px;
    }
}