.cards_main{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
}

.cards_main .cards_start{
    display: flex;
    justify-content: space-between;
}
.opt_text h3{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 500!important;
    background-color: #f7f7f7;
    margin-top: 20px;
}
.cards_start .cards .image img {
width: 100%;
}
.cards_main .cards_start .cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        border-radius: 11px;
        background: #FFF;
        padding: 10px 20px;
        cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.cards_main .cards_start .cards:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
transition: box-shadow 0.3s ease-in-out;
transition: scale 0.3s ease-in-out;
scale: 1.010;
}
.cards_main .cards_start .cards p:first-child{
    font-weight: 800;
    font-size: 23px;
    text-align: center;
}
.cards_main .cards_start .cards p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
#big_text{
    font-size: 27px;
    text-transform: capitalize;
}
@media screen and (max-width:991px) {
    .cards_main .cards_start{
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cards_main .cards_start .cards {
        width: 400px;
        flex-direction: column;
    }
}
@media screen and (max-width:600px) {
    /* .cards_main .cards_start{
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    } */
    .cards_main .cards_start .cards {
        width: 100%;
    }
    .opt_text h3{
      font-size: 22px;
      margin-top: 10px;
      font-weight: 700!important; 

    }
    .opt_text h3 br {
        display: none;
    }
    #big_text{
        font-size: 20px;
        text-transform: capitalize;
   
    }
}