.forgot_form{
    width: 60%;
    margin: 0 auto;
}
.forgot_form  input {
    margin-top: 80px;
}

.btn_forgot_pass{
    background-color: tomato;
    font-size: 17px;
    border: none;
    outline: 0;
    border-radius: 4px;
    padding: 6px;
    color: white;
    margin-bottom: 10px;
}
@media screen and (max-width:550px) {
    .forgot_form  input {
        margin-top: 50px;
    }
}