.food_display_list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 20px;
    row-gap: 35px;
}
@media screen and (max-width:500px) {
    
}