.footer_bg{
    background-color: #E9E9E9;
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 10px;
}
.footer_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}
.footer_top .center_text p{
    font-size: 30px ;
    font-weight: 600;
    color: #000;
}
.footer_top .btn button {
    font-size: 20px;
    border-radius: 10px;
    width: 200px;
    font-weight: 600;
}
.footer_bottom{
    margin-top: 20px;
    display: flex;
justify-content: space-between;
}
.footer_bottom .address p:first-child{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
.footer_bottom .address p{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    font-size: 18px;
}
.footer_bottom .hours p:first-child{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
.footer_bottom .hours p{
    font-size: 18px;
    text-transform: capitalize;
}
.footer_bottom .links p:first-child{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}.footer_bottom .links a{
    display: flex;
    font-size: 18px;
    text-transform: capitalize;
}
@media screen and (max-width:991px) {
    .footer_top{
   /* flex-wrap: wrap; */
   flex-direction: column;
align-items: center;
     /* align-items: flex-start; */
     padding-bottom: 20px;
    }
    .footer_bottom{
        /* flex-wrap: wrap; */
        flex-direction: column;
        gap: 10px;
        /* justify-content: center;
        align-items: center; */
    }
    .footer_top .center_text p{
        font-size: 20px ;
    }
    .footer_top .btn button {
        font-size: 18px;
        width: 150px;
    }
    .footer_bottom .links p{
        font-size: 18px;
    }
}