.food_item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  background-color: white;
}

.food_item_image {
  text-align: center;
  width: 99%;
  border-radius: 20px;
  padding: 10px;
}

.food_item_info {
  padding: 0px 10px 6px 10px;
}
.modal_view_Cart {
  display: none;
}
.food_item_name_rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.food_item_name_rating p {
  font-size: 17px;
  font-weight: 600;
}

.food_item_desc {
  color: #676767;
  font-size: 13px;
  font-style: 500;
  color: black;
}

.food_item_price {
  font-size: 22px;
  color: tomato;
  font-weight: 500;
  margin: 10px 0px;
}

.food_item_img_container {
  text-align: center;
  width: 100%;
}

.food_item_counter {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 3px;
  border-radius: 50px;
  margin-top: 10px;
  border: 1px solid black;
}

.add {
  padding: 1px 5px;
  background-color: tomato;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 500;
  margin: 6px 0px;
}

.food_item_counter img {
  width: 25px;
  cursor: pointer;
  color: black;
}

.food_item_counter p {
  color: black;
  font-size: 14px;
}

.food_rating_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal_view_Cart {
  display: flex;
  position: fixed;
  top: 90%;
  left: 3.8%;
  width: 92%;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  background-color: #FF4D25;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
}

.view_Cart_text {
  font-size: 18px;
}

.cartImage {
  font-size: 27px;
  margin: 0px 5px;
  font-weight: 900;
}

.addItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.addItem_p {
  font-size: 20px;
}

.view_Cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle {
  margin-top: 5px;
  font-size: 19px;
}

@media screen and (max-width:500px) {
  .food_item {
    width: 80%;
  }

  .food_item_counter p {
    color: black;
    font-size: 13px;
  }

  .food_item_name_rating p {
    font-size: 17px;
  }

  .food_item_price {
    font-size: 18px;
  }

  .food_item_counter {
    padding: 3px;
    gap: 5px;
  }

  .food_item_counter p {
    font-size: 14px;
  }

  .food_item_counter img {
    width: 23px;
  }
}

@media screen and (max-width:786px) {
  .modal_view_Cart {
    display: flex;
    position: fixed;
    top: 90%;
    left: 3.8%;
    width: 92%;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color: #FF4D25;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
  }

  .view_Cart_text {
    font-size: 18px;
  }

  .cartImage {
    font-size: 27px;
    margin: 0px 5px;
    font-weight: 900;
  }

  .addItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .addItem_p {
    font-size: 18px;
  }

  .view_Cart {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .triangle {
    margin-top: 5px;
    font-size: 19px;
  }
}

@media screen and (max-width:410px) {
  .modal_view_Cart {
    padding: 3px 5px;
  }

  .view_Cart_text {
    font-size: 15px;
  }

  .cartImage {
    font-size: 22px;
  }

  .addItem {
    gap: 0px;
  }

  .addItem_p {
    font-size: 14px;
  }

  .triangle {
    margin-top: 5px;
    font-size: 16px;
  }
}