.header{
    height: 375px;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    border-radius: 10px;
}
.header .header-contents{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    bottom: 10px;
    max-width: 450px;
    top: 10px; 
    left: 60px;
    animation: fadeIn 3s ;
    /* padding: 10px; */
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: 44px;
}
.header-contents p{
    color: white;
    font-size:13px ;
}
.header-contents a{
    border: 0;
    outline: 0;
    color: #747474;
    font-weight: 400;
    background-color: white;
    font-size: 15px;
    border: none;
    padding: 6px 15px;
    border-radius: 50px;
    cursor: pointer;
}
@media (max-width:1050px) {
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}