.tabs{
    padding-top: 20px;
}
.tabs ul{
display: flex;
justify-content: space-between;
}
.tabs ul li {
    list-style: none;
    font-size: 20px;
   border: 2px solid #FF4C24;
    border-radius: 10px;
    padding: 10px 40px;
    cursor: pointer;
    color: #000000;
    width: 100%;
    text-align: center;
}
.tabs ul li .active{
    background-color: #FF4C24;
}
.tabs_flex{
display: flex;
justify-content: space-between;
margin-top: 20px;
}
.tabs_flex .left {
    width: 50%;
    background-color: #ffffff;
    padding: 20px 20px;

    border-radius:10px ;
}
.tabs_flex .left .head{
    font-size: 20px ;
}
.tabs_flex .right {
    width: 48%;
    padding: 20px 20px;
    border-radius:10px ;
    background-color: #fff;
}
.head_div{
    display: flex;
    flex-direction: column;
}

.head_div label {
    font-size: 20px;
    margin-top: 10px;
}
.head_div input {
padding: 10px;
margin-top: 10px;
border: none;
border-radius: 5px;
background-color: #ebe9e9;
}
.error {
    color: red;
    font-weight: 600;
    margin-top: 5px;
}

.bg_body{
    background-color: #f7f7f7;
    width: 100%;
}
button{
    background-color: #FF4D25;
    color: #fff;
    padding: 10px  ;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 2px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 25px;
}
.small_cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.small_cards .small_card{
display: flex;
padding: 10px 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
gap: 10px;
/* background-color: #f0efef; */
border-radius: 10px;
margin-top: 10px;
}

.small_cards .small_card .image{
    width: 200px;
}

.small_cards .small_card .image img{
    width: 100%;
    border-radius: 10px;
}
.small_cards .small_card .text_part{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.small_cards .small_card .text_part p:first-child {
    font-size: 20px;
    font-weight: 600;
}
.small_cards .small_card .text_part p{
    font-size: 16px;
}

.star_part {
    display: flex;
    justify-content: space-between;
}
.food_item_counter {
    /* position: absolute; */
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid #000 ;
}   

.cart_section   .head_text {
    font-size: 25px;
} 
.btn_next{
    margin-top: 30%;
}
.tabs_flex{margin-bottom: 30px;}

@media screen and (max-width:1214px) {
    .tabs_flex{
flex-direction: column;
    }
    .tabs_flex .left{
        width: 100%;
    }
.tabs_flex .right {
    width: 100%;
}
}
.cross {
display: flex;
align-items: center;
justify-content: space-between;

}
.cross p:nth-child(2){
    cursor: pointer;
}
