.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: max(1vw,26px);
    font-weight: 600;
    text-align: center;
    line-height: 20px;
    color: rgb(70, 47, 43);
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}